html{
	font-size: 12px;
	color: #522a06;
	font-family: '宋体';
}
body{
	font-size: 12px;
	background-image: url(../picture1/.png);
	background-repeat: repeat-x;
}
a{
	color:black;
	text-decoration: none;
}
a:hover{
	text-decoration: none;
	color: red;
}
#header{
	height: 205px;
	background-position: center;
    background-image: url(../picture1/bg1.png);
	background-position: top;
}
#banner{
	width:800px;
	height: 164px;
	background-position: top right;
	margin-top: 20px;
   
	margin-right: 25px;
	background-repeat: no-repeat;

}
#nav{
    height: 40px;
    background-image: url(../picture1/nav.png);
    background-position:center;
}
.nav_body{
	width: 1000px;
	background-position:center;
}
.nav_content{
	width: 1000px;
	color: #fff;
	font-weight: bold;
	float: left;
	padding-top: 10px;
    margin-left:300px; 
}
.nav_content a{
	color: #fff;
	font-weight: bold;
	height: 40px;
}
.nav_content a:hover{
    text-decoration: none;color: #f9f603;
    }
#content{
 
	width: 1330px;
	overflow: hidden;
	margin: 0 auto;
}
#top{
	font-size: 35px;
	 
	width: 900px;
	height: 1200px
	 
	margin-left: 50px;
	float: left;
}
#top1{
	 
	width: 900px;
	height: 900px;
	font-size: 20px;
    line-height: 40px;
    margin-top: 30px;
    margin-top: 50px;


}
#right{
  
 width:300px;
 height: 900px;
 float: left;
 margin-left: 50px;
 margin-top: 100px;
}
#right1{
	 
	width: 300px;
	height: 400px;
	margin-bottom: 100px;
}
#right{
	 
	width: 300px;
	height: 400px;
}